 <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default invoice">
                <div class="panel-heading invoice_head">
                    <h3 class="text-center "><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body ">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                              
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-center"><strong>Item Price</strong></td>
                                    <td class="text-center"><strong>Item Quantity</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i = 0;i<user.choices.length;i++){%>
                                <tr>
                                    <td><%= user.choices[i].name%></td>
                                    <td class="text-center">&#8377;<%= user.choices[i].Price%></td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">&#8377;<%= user.choices[i].Price%></td>
                                </tr>
                                <%}%>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-right">&#8377;<%= user.itemBills%></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>VAT</strong></td>
                                    <td class="emptyrow text-right"><%= vat%>%</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">&#8377;<%= user.payableAmount%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
<!-- PAYMENT SECTION-->

    <div class="container payment">
    <div class="row ">
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          
          <form accept-charset="UTF-8" action="/success" class="require-validation"  id="payment-form" method="post">
            <div class='form-row'>
              <div class='col-xs-12 form-group required'>
                <label class='control-label'>Name on Card</label>
                <input class='form-control' size='4' type='text' >
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>Card Number</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text' maxlength="19" onkeyDown="return checkCard(this)" onkeyUp ="deleteErrorMsg();" >
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-4 form-group cvc required'>
                <label class='control-label'>CVV</label>
                <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text' maxlength="3" onkeyDown="return validationCheck(this)" onkeyUp ="deleteErrorMsg();">
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'>Expiration</label>
                <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' maxlength="2" onkeyDown="return validationCheck(this)" onkeyUp ="deleteErrorMsg();">
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'> </label>
                <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' maxlength="4"
                onkeyDown="return validationCheck(this)" onkeyUp ="deleteErrorMsg();">
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12'>
                <div class='form-control total btn btn-info'>
                  Total:
                  <span class='amount'>&#8377;<%= user.payableAmount%></span>
                </div>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 error form-group hide'>
                <div class='alert-danger alert'>
                  Please correct the errors and try again.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>   


